@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');

@media only screen and (max-width: 1024px) {
    #imgContainer {
        justify-content: center;
    }
}
@media only screen and (max-width: 768px){
    #imgContainer {
        justify-content: center!important;
        align-content: center;
        text-align: center;
    }
    #nameContainer {
        display: flex;
        justify-content: center;
        gap: 14px;
    }
}

@media only screen and (max-width: 568px){
    #head div:nth-child(1) {
        display: none;
    }

}

:root {
    --darkSienna: #3F0D12;
    --crimsonUA: #A71D31;
    --lightGoldenrotYellow: #F1F0CC;
    --ecru: #D5BF86;
    --shadow: #8D775F;
    --gunMetal: #2C363F;
    --fernGreen: #3A7D44;
    --airSuperiorityBlue: #759FBC;
    --teaGreen: #DBEFBC;
    --nyanza: #E2FADB;

    --lightGrayishOrange: #fbf3e4;
    --stringPink: #b91646;
    --veryDarkCyan: #105652;
    --brightOrange: #f9c041;
}

html {
    background-color: var(--lightGrayishOrange);
}

body {
    display: table;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: black;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

#head {
    display: table-row;
}

#head div:nth-child(1) {
    font-size: 2.5vw;
    text-transform: uppercase;
    font-weight: bold;
    white-space: nowrap;
}

#head div:nth-child(2) {
    font-size: 2vh;
    font-weight: normal;
    text-transform: lowercase;
    margin-top: auto;
    margin-bottom: auto;
}

#head div:nth-child(2) ul li:hover a {
    color: var(--stringPink);
    border-bottom: 1px solid var(--stringPink);
}

#head div:nth-child(2) ul {
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
}

#head div:nth-child(2) ul li {
    display: flex;
    flex-direction: column;
}

#head div:nth-child(2) ul li a {
    color: black;
}

#main {
    display: table-cell;
    padding-left: 4vw;
    padding-right: 4vw;
}

#introduce {
    font-family: 'Splash', cursive;
    font-size: 72px;
    color: #b91646;
    position: relative;
    top: -10px;
    z-index: 1;
    text-align: end;
}

#aboutMeHeader {
    font-size:72px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: end;
    white-space: nowrap;
    position: relative;
    top: -70px;
}

#imgContainer {
    justify-content: end;
}

#nameContainer {
    font-size: 36px;
    letter-spacing: -2px;
    font-weight: bold;
    text-transform: uppercase;
}

#aboutMeContent {
    font-size: small;
    position: relative;
    top: -80px;
}

#aboutMeImg {
    background-color: var(--brightOrange);
    border: 3px solid black;
    border-radius: 10px;
}

#aboutMeImg img {
    height: 50vh;
    border-radius: 5px;
}
