@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');

@media only screen and (max-width: 1024px) {
    #imgContainer {
        justify-content: center;
    }
}
@media only screen and (max-width: 768px){
    #imgContainer {
        justify-content: center!important;
        align-content: center;
        text-align: center;
    }
    #nameContainer {
        display: flex;
        justify-content: center;
        gap: 14px;
    }
}

@media only screen and (max-width: 568px){
    #head div:nth-child(1) {
        display: none;
    }

    .mainIndex div:nth-child(1) {
        font-size: 18vw!important;
    }

    .mainIndex div:nth-child(2) {
        font-size: 15vw!important;
    }

    .mainIndex div:nth-child(3) {
        font-size: 5vw!important;
        letter-spacing: 1vw!important;
        word-spacing: 1vw!important;
    }

    .mainProjects div:nth-child(1) {
        font-size: 15vw;
    }

    .mainProjects div:nth-child(2) {
        font-size: 8vw;
    }

    .mainProjects div:nth-child(3) {
        font-weight: lighter;
    }

    .mainProjects div:nth-child(4) {
        flex-direction: column;
    }

    .mainProjects div:nth-child(4) button{
        width: 100%;
    }
}

:root {
    --darkSienna: #3F0D12;
    --crimsonUA: #A71D31;
    --lightGoldenrotYellow: #F1F0CC;
    --ecru: #D5BF86;
    --shadow: #8D775F;
    --gunMetal: #2C363F;
    --fernGreen: #3A7D44;
    --airSuperiorityBlue: #759FBC;
    --teaGreen: #DBEFBC;
    --nyanza: #E2FADB;

    --lightGrayishOrange: #fbf3e4;
    --stringPink: #b91646;
    --veryDarkCyan: #105652;
    --brightOrange: #f9c041;
}

html {
    background-color: var(--lightGrayishOrange);
}

body {
    display: table;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: black;
    width: 100vw;
    height: 100vh;
    padding: 2vw;
}

.splashFont {
    font-family: 'Splash', cursive;
    color: #b91646;
}

#head {
    display: table-row;
}

#head div:nth-child(1) {
    font-size: 2.5vw;
    text-transform: uppercase;
    font-weight: bold;
    white-space: nowrap;
}

#head div:nth-child(2) {
    font-size: 2vh;
    font-weight: normal;
    text-transform: lowercase;
}

#head div:nth-child(2) ul li a {
    transition: all .3s ease-in-out;
}

#head div:nth-child(2) ul li:hover a {
    color: var(--stringPink);
    border-bottom: 1px solid var(--stringPink);
    transform: scale(1.3);
}

#head div:nth-child(2) ul {
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
}

#head div:nth-child(2) ul li {
    display: flex;
    flex-direction: column;
}

#head div:nth-child(2) ul li a {
    color: black;
}

#main {
    display: table-cell;
    vertical-align: middle;
}

#introduce {
    font-family: 'Splash', cursive;
    font-size: 72px;
    color: #b91646;
    position: relative;
    top: 10px;
    z-index: 1;
    text-align: end;
}

#aboutMeHeader {
    font-size:72px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: end;
    white-space: nowrap;
    position: relative;
    top: -60px;
}

#imgContainer {
    justify-content: end;
}

#nameContainer {
    font-size: 36px;
    letter-spacing: -2px;
    font-weight: bold;
    text-transform: uppercase;
}

#aboutMeContent {
    font-size: small;
    position: relative;
    top: -80px;
}

#aboutMeImg {
    background-color: var(--brightOrange);
    border: 3px solid black;
    border-radius: 10px;
}

#aboutMeImg img {
    height: 50vh;
    border-radius: 5px;
}

#foot {
    display: table-row;
}

#foot div div:nth-child(1) a{
    color: black;
    font-size: small;
}

#foot div div:nth-child(2) a{
    font-size: xx-large;
}

.mainIndex div:nth-child(1) {
    font-size: 120px;
    position: relative;
    top: 10px;
}

.mainIndex div:nth-child(2) {
    font-size: 88px;
    position: relative;
    top: -40px;
}

.mainIndex div:nth-child(3) {
    font-size: 24px;
    letter-spacing: 5px;
    word-spacing: 10px;
    position: relative;
    top: -60px;
}

.mainSkills div div:nth-child(2) p {
    text-transform: uppercase;
    margin-bottom: 2vh;
}

.iconSkills {
    font-size: 72px;
    color: black;
    margin-top: 2vh;
}

.mainProjects {

}

.mainProjects div:nth-child(1) {
    font-size: 72px;
    position: relative;
    top: 10px;
    z-index: 1;
}

.mainProjects div:nth-child(2) {
    font-size: 64px;
    position: relative;
    top: -55px;
}

.mainProjects div:nth-child(3) {
    font-weight: lighter;
    position: relative;
    top: -40px;
    padding-bottom: 35px;
    border-bottom: 1px solid black;
}

.mainProjects div:nth-child(4) button{
    font-size: 2vw;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 6px;
    padding: 0.5vw 3.5vw 0.5vw 3.5vw;
    border-radius: 5px;
    border: 2px solid black;
    transition: all .2s ease-in-out;
}

button:hover {
    transform: scale(1.2);
}