// Medium devices (tablets, 768px and up)

@media (min-width: 768px) {
	html {
		scroll-padding-top: 55px;
	}

	.section-title::before {
		width: 50%;
	}

	.navbar {
		ul {
			font-size: 0.75em;
		}
	}

	#home {
		height: 100vh;
		.hero-img {
			height: 100vh;
			.hero-shadow {
				height: 100vh;
			}
		}
	}

	#portfolio {
		button {
			width: 50%;
			margin-left: auto;
			margin-right: 0;
		}
	}
}
