@use "../bulma/sass/utilities/mixins";

@import url("https://fonts.googleapis.com/css2?family=Bytesized&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "./animations";

.bytesized-regular {
    font-family: "Bytesized", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12dvw;
    @include mixins.widescreen {
        font-size: 8dvw;
    }
    @include mixins.fullhd {
        font-size: 6dvw;
    }
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;

    .theme-wrapper {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;
        button {
            border: none;
        }
    }
}
