@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "./themes";
@import "./buttons";

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    background-color: color("background");
    color: color("text");
    .secondary-content {
        background-color: color("background-secondary");
        color: color("text-secondary");
    }
    .text-primary {
        color: color("primary");
    }
    .text-light {
        color: color("text-light");
    }
    .text-accent {
        color: color("accent");
    }
    .text-secondary {
        color: color("secondary");
    }
    .badge-primary {
        background-color: color("btn-primary-bg");
        color: color("btn-primary-text");
    }
    .badge-secondary {
        background-color: color("btn-secondary-bg");
        color: color("btn-secondary-text");
    }
    .badge-accent {
        background-color: color("btn-accent-bg");
        color: color("btn-accent-text");
    }
    .badge-ghost-primary {
        background-color: rgba(color("btn-ghost-primary-color"), 0.1);
        color: darken(color("btn-ghost-primary-color"), 10%);
    }
    .badge-ghost-accent {
        background-color: rgba(color("btn-ghost-accent-color"), 0.1);
        color: darken(color("btn-ghost-accent-color"), 10%);
    }

    main {
        .hero {
            padding-top: 5rem;
            min-height: 100dvh;
            width: 100%;
            background: color("primary");
            .hero-left {
                img {
                    padding: 1rem;
                    max-width: 100%;
                    width: auto;
                    height: auto;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .hero-right {
                h1 {
                    background-color: transparent;
                }
            }
        }

        #about {
            h4 {
                padding-left: 1rem;
                color: color("primary");
                border-left: 2px solid color("accent");
                font-weight: 300;
            }
            .card {
                p {
                    color: color("primary");
                    font-size: small;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        #printers {
            .printer-details {
                .card {
                    border: 0;
                    h4 {
                        padding-bottom: 1rem;
                        color: color("primary");
                        border-bottom: 1px solid color("accent");
                    }
                    .printer-specification {
                        display: flex;
                        justify-content: space-between;
                        label {
                            font-size: x-small;
                            @media screen and (min-width: 768px) {
                                font-size: small;
                            }
                        }
                        strong {
                            font-size: small;
                            @media screen and (min-width: 768px) {
                                font-size: medium;
                            }
                        }
                    }
                }
            }
        }
    }
}
