// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.background-img {
		.background-shadow {
			background: linear-gradient(115deg, var(--bs-warning) 25%, rgba(0, 0, 0, 0.2) 25%);
		}
	}

	.menu-buttons-container {
		position: relative;
		z-index: 1000;
		#user-btn {
			position: absolute;
			top: 11px;
			left: calc(100vw - 545px);
			border-radius: 50px !important;
		}
		#user-btn:hover {
			transform: scale(1.2);
		}
	}
	#menu-collapse {
		.menu-container {
			position: relative;
			top: 20px;
			left: calc(100% - 20px);
			width: fit-content;
			transform: translateX(-100%);
			z-index: 1000;
			.menu {
				flex-direction: row;
				height: auto;
				border-radius: 50px;
				border: 1px solid var(--bs-secondary);
				overflow: hidden;
				li {
					width: auto;
					border-top: none;
					button {
						font-family: var(--robotoCondesed);
					}
				}
				li:hover {
					background-color: var(--bs-warning);
				}
				li:nth-child(2) {
					border-left: 1px solid var(--bs-secondary);
				}
				li:nth-child(2),
				li:nth-child(3) {
					border-right: 1px solid var(--bs-secondary);
				}
			}
		}
	}

	#receiving-content,
	#aboutUs-content,
	#contact-content,
	#advertising-content {
		width: 700px !important;
		padding-top: 75px !important;
		h2 {
			display: none;
		}
		.menu-back-btn {
			display: none;
		}
		.menu-close-btn {
			position: absolute;
			top: 21px;
			left: 20px;
			border-radius: 50px !important;
		}
	}
	.collapse-horizontal-left {
		left: calc(100vw - 700px) !important;
	}

	.links-container,
	.links-container > div {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}
	.links-container {
		position: absolute;
		gap: 30px;
		left: calc(100% - 50px);
		transform: translateX(-100%);
		top: calc(100vh - 100px);
		font-size: 24px;
		white-space: nowrap;
	}
	.more-radios {
		span {
			font-size: 16px;
			text-transform: uppercase;
		}
	}

	.player-container {
		z-index: 1;
		.title {
			h1 {
				letter-spacing: 3px;
			}
		}
	}
}
